
 /* #461BE0; /* blue */
 /* #FFFFFF; /* white */

#header {
    background-color: #461BE0;
    box-shadow: 3px 3px 3px #444;
}

h1 {
    font-family: Lobster;
    color: #FFFFFF; /* white */
}

table {
    border: 1px blue solid;
    box-shadow: 3px 3px 3px #444;
}

.radio-toolbar label {
    background-color:#ddd;
    box-shadow: 3px 3px 3px #444;
    border-radius: 6px;
}

.radio-toolbar input[type="radio"]:checked + label {
    background-color:#bbb;
    border: 1px blue solid;
    box-shadow: 1px 1px 1px #444;
}

input {
    font-family: Verdana, Arial, sans-serif;
    color: #222222;
}

#wrapperDiv {
    border-left: 1px solid #888;
    border-right: 1px solid #888;
    border-bottom: 1px solid #888;
    box-shadow: 3px 3px 3px #444;
    font-family: Verdana, Arial, sans-serif;
    font-size: 0.8em;
}

.totals {
    text-align: left;
}

.colTitles {
    text-align: right;
}

